
.visual-wrapper img {
    aspect-ratio: 16 / 9;
    object-fit: cover; 
    width: 100%;

}

.business-section{
    text-align: center;
}
.business-title{
    margin-top: 15%;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10%;
}

.business-list-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.business-item-1{
    width: 40%;
    margin: 0 auto;
}
.business-item-1 img{
    aspect-ratio: 16 / 9;
    object-fit: cover; 
    width: 100%;
}
.business-text-1{
   text-align: center;
}
.business-desc {
    width: 100%;
    font-size: 12px;
    text-align: left; 
    opacity: 0.5;
}


.recruit-section{
    text-align: center;
    width: 100%;
}

.recruit-title{
    margin-top: 15%;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10%;
}

.recruit-item{
    display: flex;
}
.recruit-img{
    width: 40%;
    margin: 0 auto;
}
.recruit-img img{
    aspect-ratio: 16 / 9;
    object-fit: cover; 
    width: 100%;
}
.recruit-text{
    width: 40%;
    margin: 0 auto;
    text-align: left;
}
.recruit-text a{
    float: right;
}

/* モバイルレスポンシブ */
@media screen and (max-width: 768px) {
    .business-title{
        font-size: 25px
    }

    .business-list-wrapper{
        display: block;
    }
    .business-item-1{
        width: 80%;
       
    }
    .business-text-1{
        font-size: 13px;
     }
    .recruit-title{
        font-size: 25px;
    }
    .recruit-item{
        display: block;
    }
    .recruit-img{
        width: 80%;
        margin: 0 auto;
    }
    .recruit-text{
        width: 80%;
        margin: 0 auto;
        text-align:center;
        font-size: 13px;
    }
    .recruit-text a{
        float: none;
        display: block;
        text-align: center;
        margin-bottom: 50%;
        font-size: 15px;
    }

}